weights/
data/
outputs/
wandb/
control/
eval/
eval_3d/
eval_anytxt/
eval_sd3/
eval_sd33/
eval_sdxl/
eval_txt2/
evaluation/
fid/
fid2/
generated_control4/
generated_control5/
generated_totaltext/
k/
local_output/
output/
scene3d_gen/
test123/
text/
vs_text/
vs_text_any/
vs_text_sd3/
vs_text_sdkl/
vs_text_td2/

.copilot_testing_code/
debug/
CAR/
notes/


# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

